<div id="<%= dom_id loan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= loan.client_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Analysis:</strong>
    <%= loan.analysis_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= loan.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Culture:</strong>
    <%= loan.culture %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">No till:</strong>
    <%= loan.no_till %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expected productivity:</strong>
    <%= loan.expected_productivity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Npk sources:</strong>
    <%= loan.npk_sources %>
  </p>

</div>
